
.screen5 .content ul li p.arabic[data-number = "1"]::before {
  content: "\e904"
}

.screen5 .content ul li p.arabic[data-number = "2"]::before {
  content: "\e905"
}

.screen5 .content ul li p.arabic[data-number = "3"]::before {
  content: "\e906"
}

.screen5 .content ul li p.arabic[data-number = "4"]::before {
  content: "\e907"
}

.screen5 .content ul li p.arabic[data-number = "5"]::before {
  content: "\e908"
}

.screen5 .content ul li p.arabic[data-number = "6"]::before {
  content: "\e90b"
}

.screen5 .content ul li p.arabic[data-number = "7"]::before {
  content: "\e90c"
}

.screen5 .content ul li p.arabic[data-number = "8"]::before {
  content: "\e90d"
}

.screen5 .content ul li p.arabic[data-number = "9"]::before {
  content: "\e90e"
}

.screen5 .content ul li p.arabic[data-number = "10"]::before {
  content: "\e90f"
}

.screen5 .content ul li p.arabic[data-number = "11"]::before {
  content: "\e910"
}

.screen5 .content ul li p.arabic[data-number = "12"]::before {
  content: "\e911"
}

.screen5 .content ul li p.arabic[data-number = "13"]::before {
  content: "\e912"
}

.screen5 .content ul li p.arabic[data-number = "14"]::before {
  content: "\e913"
}

.screen5 .content ul li p.arabic[data-number = "15"]::before {
  content: "\e914"
}

.screen5 .content ul li p.arabic[data-number = "16"]::before {
  content: "\e915"
}

.screen5 .content ul li p.arabic[data-number = "17"]::before {
  content: "\e916"
}

.screen5 .content ul li p.arabic[data-number = "18"]::before {
  content: "\e917"
}

.screen5 .content ul li p.arabic[data-number = "19"]::before {
  content: "\e918"
}

.screen5 .content ul li p.arabic[data-number = "20"]::before {
  content: "\e919"
}

.screen5 .content ul li p.arabic[data-number = "21"]::before {
  content: "\e91a"
}

.screen5 .content ul li p.arabic[data-number = "22"]::before {
  content: "\e91b"
}

.screen5 .content ul li p.arabic[data-number = "23"]::before {
  content: "\e91c"
}

.screen5 .content ul li p.arabic[data-number = "24"]::before {
  content: "\e91d"
}

.screen5 .content ul li p.arabic[data-number = "25"]::before {
  content: "\e91e"
}

.screen5 .content ul li p.arabic[data-number = "26"]::before {
  content: "\e91f"
}

.screen5 .content ul li p.arabic[data-number = "27"]::before {
  content: "\e920"
}

.screen5 .content ul li p.arabic[data-number = "28"]::before {
  content: "\e921"
}

.screen5 .content ul li p.arabic[data-number = "29"]::before {
  content: "\e922"
}

.screen5 .content ul li p.arabic[data-number = "30"]::before {
  content: "\e923"
}

.screen5 .content ul li p.arabic[data-number = "31"]::before {
  content: "\e924"
}

.screen5 .content ul li p.arabic[data-number = "32"]::before {
  content: "\e925"
}

.screen5 .content ul li p.arabic[data-number = "33"]::before {
  content: "\e926"
}

.screen5 .content ul li p.arabic[data-number = "34"]::before {
  content: "\e92e"
}

.screen5 .content ul li p.arabic[data-number = "35"]::before {
  content: "\e92f"
}

.screen5 .content ul li p.arabic[data-number = "36"]::before {
  content: "\e930"
}

.screen5 .content ul li p.arabic[data-number = "37"]::before {
  content: "\e931"
}

.screen5 .content ul li p.arabic[data-number = "38"]::before {
  content: "\e909"
}

.screen5 .content ul li p.arabic[data-number = "39"]::before {
  content: "\e90a"
}

.screen5 .content ul li p.arabic[data-number = "40"]::before {
  content: "\e927"
}

.screen5 .content ul li p.arabic[data-number = "41"]::before {
  content: "\e928"
}

.screen5 .content ul li p.arabic[data-number = "42"]::before {
  content: "\e929"
}

.screen5 .content ul li p.arabic[data-number = "43"]::before {
  content: "\e92a"
}

.screen5 .content ul li p.arabic[data-number = "44"]::before {
  content: "\e92b"
}

.screen5 .content ul li p.arabic[data-number = "45"]::before {
  content: "\e92c"
}

.screen5 .content ul li p.arabic[data-number = "46"]::before {
  content: "\e92d"
}

.screen5 .content ul li p.arabic[data-number = "47"]::before {
  content: "\e932"
}

.screen5 .content ul li p.arabic[data-number = "48"]::before {
  content: "\e902"
}

.screen5 .content ul li p.arabic[data-number = "49"]::before {
  content: "\e933"
}

.screen5 .content ul li p.arabic[data-number = "50"]::before {
  content: "\e934"
}

.screen5 .content ul li p.arabic[data-number = "51"]::before {
  content: "\e935"
}

.screen5 .content ul li p.arabic[data-number = "52"]::before {
  content: "\e936"
}

.screen5 .content ul li p.arabic[data-number = "53"]::before {
  content: "\e937"
}

.screen5 .content ul li p.arabic[data-number = "54"]::before {
  content: "\e938"
}

.screen5 .content ul li p.arabic[data-number = "55"]::before {
  content: "\e939"
}

.screen5 .content ul li p.arabic[data-number = "56"]::before {
  content: "\e93a"
}

.screen5 .content ul li p.arabic[data-number = "57"]::before {
  content: "\e93b"
}

.screen5 .content ul li p.arabic[data-number = "58"]::before {
  content: "\e93c"
}

.screen5 .content ul li p.arabic[data-number = "59"]::before {
  content: "\e900"
}

.screen5 .content ul li p.arabic[data-number = "60"]::before {
  content: "\e901"
}

.screen5 .content ul li p.arabic[data-number = "61"]::before {
  content: "\e941"
}

.screen5 .content ul li p.arabic[data-number = "62"]::before {
  content: "\e942"
}

.screen5 .content ul li p.arabic[data-number = "63"]::before {
  content: "\e943"
}

.screen5 .content ul li p.arabic[data-number = "64"]::before {
  content: "\e944"
}

.screen5 .content ul li p.arabic[data-number = "65"]::before {
  content: "\e945"
}

.screen5 .content ul li p.arabic[data-number = "66"]::before {
  content: "\e946"
}

.screen5 .content ul li p.arabic[data-number = "67"]::before {
  content: "\e947"
}

.screen5 .content ul li p.arabic[data-number = "68"]::before {
  content: "\e948"
}

.screen5 .content ul li p.arabic[data-number = "69"]::before {
  content: "\e949"
}

.screen5 .content ul li p.arabic[data-number = "70"]::before {
  content: "\e94a"
}

.screen5 .content ul li p.arabic[data-number = "71"]::before {
  content: "\e94b"
}

.screen5 .content ul li p.arabic[data-number = "72"]::before {
  content: "\e94c"
}

.screen5 .content ul li p.arabic[data-number = "73"]::before {
  content: "\e94d"
}

.screen5 .content ul li p.arabic[data-number = "74"]::before {
  content: "\e94e"
}

.screen5 .content ul li p.arabic[data-number = "75"]::before {
  content: "\e94f"
}

.screen5 .content ul li p.arabic[data-number = "76"]::before {
  content: "\e950"
}

.screen5 .content ul li p.arabic[data-number = "77"]::before {
  content: "\e951"
}

.screen5 .content ul li p.arabic[data-number = "78"]::before {
  content: "\e952"
}

.screen5 .content ul li p.arabic[data-number = "79"]::before {
  content: "\e93d"
}

.screen5 .content ul li p.arabic[data-number = "80"]::before {
  content: "\e93e"
}

.screen5 .content ul li p.arabic[data-number = "81"]::before {
  content: "\e93f"
}

.screen5 .content ul li p.arabic[data-number = "82"]::before {
  content: "\e940"
}

.screen5 .content ul li p.arabic[data-number = "83"]::before {
  content: "\e953"
}

.screen5 .content ul li p.arabic[data-number = "84"]::before {
  content: "\e954"
}

.screen5 .content ul li p.arabic[data-number = "85"]::before {
  content: "\e955"
}

.screen5 .content ul li p.arabic[data-number = "86"]::before {
  content: "\e956"
}

.screen5 .content ul li p.arabic[data-number = "87"]::before {
  content: "\e957"
}

.screen5 .content ul li p.arabic[data-number = "88"]::before {
  content: "\e958"
}

.screen5 .content ul li p.arabic[data-number = "89"]::before {
  content: "\e959"
}

.screen5 .content ul li p.arabic[data-number = "90"]::before {
  content: "\e95a"
}

.screen5 .content ul li p.arabic[data-number = "91"]::before {
  content: "\e95b"
}

.screen5 .content ul li p.arabic[data-number = "92"]::before {
  content: "\e95c"
}

.screen5 .content ul li p.arabic[data-number = "93"]::before {
  content: "\e95d"
}

.screen5 .content ul li p.arabic[data-number = "94"]::before {
  content: "\e95e"
}

.screen5 .content ul li p.arabic[data-number = "95"]::before {
  content: "\e95f"
}

.screen5 .content ul li p.arabic[data-number = "96"]::before {
  content: "\e960"
}

.screen5 .content ul li p.arabic[data-number = "97"]::before {
  content: "\e961"
}

.screen5 .content ul li p.arabic[data-number = "98"]::before {
  content: "\e962"
}

.screen5 .content ul li p.arabic[data-number = "99"]::before {
  content: "\e963"
}

.screen5 .content ul li p.arabic[data-number = "100"]::before {
  content: "\e964"
}

.screen5 .content ul li p.arabic[data-number = "101"]::before {
  content: "\e965"
}

.screen5 .content ul li p.arabic[data-number = "102"]::before {
  content: "\e966"
}

.screen5 .content ul li p.arabic[data-number = "103"]::before {
  content: "\e967"
}

.screen5 .content ul li p.arabic[data-number = "104"]::before {
  content: "\e968"
}

.screen5 .content ul li p.arabic[data-number = "105"]::before {
  content: "\e969"
}

.screen5 .content ul li p.arabic[data-number = "106"]::before {
  content: "\e96a"
}

.screen5 .content ul li p.arabic[data-number = "107"]::before {
  content: "\e96b"
}

.screen5 .content ul li p.arabic[data-number = "108"]::before {
  content: "\e96c"
}

.screen5 .content ul li p.arabic[data-number = "109"]::before {
  content: "\e96d"
}

.screen5 .content ul li p.arabic[data-number = "110"]::before {
  content: "\e96e"
}

.screen5 .content ul li p.arabic[data-number = "111"]::before {
  content: "\e96f"
}

.screen5 .content ul li p.arabic[data-number = "112"]::before {
  content: "\e970"
}

.screen5 .content ul li p.arabic[data-number = "113"]::before {
  content: "\e971"
}

.screen5 .content ul li p.arabic[data-number = "114"]::before {
  content: "\e972"
}

