html {
  font-family: 'Open Sans', sans-serif;
}
#core-text {
  padding: 15px 30px;
  text-align: center;
}

a {
  color:gray;
}

#progress {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px 0px; 
}
.progress-bubble {
  font-weight: bold;
  border: solid 2px #9a9e9b;
  color: #9a9e9b;
  border-radius: 50%;
  font-size: 12px;
  width: 24px;
  height: 24px;
  text-align: center;
}
.complete {
  background-color: #9a9e9b;
  color: white;
}

#ayah {
  font-size: 28px;
  line-height: 2;
  display: none;
  color: #9a9e9b;
}
#ayah-loc {
  margin-top: 14px;
  color: black;
  font-size: 14px;
}
.info {
  margin-top: 10px;
  font-size: 18px;
  color: #7a7e7b;
}
#thank-you {
  display: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  text-align: center;
}
footer > * {
  width: 100%;
  height: 100%;
}
.review, #mic {
  display: none;
}
.footer-btn {
  padding-top: 8px;
}
.footer-btn span {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}
.footer-btn svg {
  height: 100%;
  width: 100%;
  fill-opacity: 0.7;
  fill: #FFFFFF;
}

#start {
  background-color: #aaaaaa;
}
#mic {
  background-color: #aaaaaa;
}
#mic.recording {
  animation: ani 1.7s infinite;
}
#submit {
  background-color: #70af70;
}
#retry {
  background-color: #708baf;
}

@keyframes ani {
  0% {
    background-color: #bf9999;
  }
  50% {
    background-color: #af7070;
  }
  100% {
    background-color: #bf9999;
  }
}


/* CSS code for sharing buttons */ 
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

.btn-gradient {
    margin: 5px;
}


