{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <title>Tarteel</title>
    <script src="../../static/js/data.js"></script>
  </head>
    <body style="max-width: 750px; margin: auto">
    <div class="navbar" style="display: flex;">
      <div class="logo" >
        <a href="/">
          <img src="../../static/img/Logo3x.png" alt="Tarteel-logo">
          <button data-balloon="Total Recited Ayahs" data-balloon-pos="down" class="counter">{{recording_count|add:"-1"}}</button>
        </a>
      </div>
      <ul>
        <li class="active"><a href="/about" class="arabic-text" data-i18n="about-link-text"></a></li>
        <li><a href="/mobile_app" class="arabic-text" data-i18n="mobile-app-link-text"></a></li>
      </ul>
      <button class="hamburger" onclick="toggleNavbarMenu()">
        <svg class="ham hamRotate ham4" viewBox="0 0 100 100" width="50" >
          <path
            class="line top"
            d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
          <path
            class="line middle"
            d="m 70,50 h -40" />
          <path
            class="line bottom"
            d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
        </svg>
      </button>
    </div>
    <div class="mobile-app-banner">
      <img src="{% static 'img/Logo3x.png' %}" alt="Tarteel-logo" id="background-logo" style="top: -85px;">
    <!-- <div class="about_us_page_ayah_count">
      <h3>
        {{ recording_count }}
      </h3>
      <p>
        Ayahs Recorded
      </p>
    </div> --><!-- 
    <div class="about_us_page_recited">
      Ayahs recited:
    </div> -->

    <div align="center"><link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
    <div id="counter" style="margin-top: 5em">
      <p class='counter-text large-arabic-text' data-i18n="ayahs-recited"></p>
    </div></div>

    <div align="center" class ="info large-arabic-text" id="about_us_page_recited" ></div>

    <div id="core-text" class="about-page">
      <div class="info" id="start-text" align="left">

        <h2 data-i18n="about-page-first-paragraph-title" class="rtl"></h2>
        <div data-i18n="about-page-first-paragraph-text" class="rtl large-arabic-text"></div>

        <h2 data-i18n="about-page-second-paragraph-title" class="rtl"></h2>
        <div data-i18n="about-page-second-paragraph-text-1" class="rtl large-arabic-text"></div>
        <br><br>
        <div data-i18n="about-page-second-paragraph-text-2" class="rtl large-arabic-text"></div>
        <ul class="rtl">
          <li data-i18n="fields-of-use-first-item" class="large-arabic-text"></li>
          <li data-i18n="fields-of-use-second-item" class="large-arabic-text"></li>
          <li data-i18n="fields-of-use-third-item" class="large-arabic-text"></li>
        </ul>


        <h2 data-i18n="about-page-third-paragraph-title" class="rtl"></h2>

        <div data-i18n="about-page-third-paragraph-text" class="rtl large-arabic-text"></div>
        <ul class="rtl">
          <li data-i18n="contributor-1" class="large-arabic-text"></li>
          <li data-i18n="contributor-2" class="large-arabic-text"></li>
          <li data-i18n="contributor-3" class="large-arabic-text"></li>
          <li data-i18n="contributor-4" class="large-arabic-text"></li>
          <li data-i18n="contributor-5" class="large-arabic-text"></li>
          <li data-i18n="contributor-6" class="large-arabic-text"></li>
          <li data-i18n="contributor-7" class="large-arabic-text"></li>
          <li data-i18n="contributor-8" class="large-arabic-text"></li>
        </ul>

        <h2 data-i18n="about-page-fourth-paragraph-title" class="rtl" ></h2>

        <div data-i18n="about-page-fourth-paragraph-text" class="large-arabic-text rtl"></div>
        <footer style="flex-flow: column;padding-top: 2em">
          <div class="footer-btn" onclick="window.open('mailto:tarteel@abdellatif.io', '_self');">
            <span data-i18n="contact-us-button-text"></span>
          </div>
        </footer>
      </div>
    </div>
    </div>
    <div class="pick-language">
      <a class="lang-switch" data-locale="en">English</a> |
      <a class="lang-switch" data-locale="ar">العربيه</a>
    </div>
  </body>
<script src="{% static 'js/jquery-1.8.1.js' %}"></script>
<script src="{% static 'js/progressbar.min.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.messagestore.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.fallbacks.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.language.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.parser.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.emitter.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.emitter.bidi.js' %}"></script>
<script>
  const numberWithCommas = (x) => {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }
  const h3 = document.querySelector("#about_us_page_ayah_count h3")
  //h3.innerHTML = numberWithCommas(h3.innerHTML)
  let ayahsRecited;
  try {
    ayahsRecited = Number(localStorage.getItem("ayahsRecited")) || 0
    if (ayahsRecited < 5) {
      $("#about_us_page_recited").css("display", "none")
    }
  } catch (e) {
    console.log(e.message)
  }

  function aboutLocalizationCallback() {
    $("#about_us_page_recited").html($.i18n("about-page-recited-ayahs-message", ayahsRecited, {{ recording_count }}))
  }
// progressbar.js@1.0.0 version is used
// Docs: http://progressbarjs.readthedocs.org/en/1.0.0/

  var bar = new ProgressBar.Circle(counter, {
    color: '#aaa',
    // This has to be the same size as the maximum width to
    // prevent clipping
    strokeWidth: 4,
    trailWidth: 1,
    easing: 'easeInOut',
    duration: 1400,
    text: {
      autoStyleContainer: false
    },
    from: { color: '#5ec49e', width: 1 },
    to: { color: '#5ec49e', width: 4 },
    // Set default step function for all animate calls
    step: function(state, circle) {
      circle.path.setAttribute('stroke', state.color);
      circle.path.setAttribute('stroke-width', state.width);
      //var value = Math.round(circle.value() * 10000);
      var value = Math.round(circle.value() * {{ recording_count }} *10000/{{ recording_count }});
      if (value === 0) {
        circle.setText('');
      } else {
        circle.setText(value);
      };
    }
  });
  bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
  bar.text.style.fontSize = '2rem';
  value = {{ recording_count }};
  animate_value = value/10000;
  bar.animate(animate_value);  // Number from 0.0 to 1.0

  const toggleNavbarMenu = () => {
    const hamburger = document.querySelector(".hamburger svg");
    hamburger.classList.toggle('active');
    $(".navbar ul").toggle()
  }
</script>
<script src="{% static 'js/i18n/main-jquery_i18n.js' %}"></script>
</html>
