{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <title>Tarteel</title>
  </head>
  <body style="max-width: 600px; margin: auto">
    <div class="mobile-app-banner">
      <img src="../../static/img/Logo3x.png" alt="Tarteel-logo">
    </div>
    <div class="mobile-page-text">
      <p>
        Get a Better Experience on mobile!
      </p>
    </div>
    <div class="mobile-buttons">
      <a href="http://bit.ly/2Owlhio" target="_blank">
        <img src="../../static/img/android-logo.png" alt="">
        <p>Android</p>
      </a>
      <a href="https://apple.co/2KWJ74U" target="_blank">
        <img src="../../static/img/apple-logo.png" alt="">
        <p>IOS</p>
      </a>
    </div>
  </body>
</html>