{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <title>Tarteel</title>
  </head>
  <body style="max-width: 750px; margin: auto">
  <div class="navbar" style="display: flex;">
    <div class="logo" >
      <a href="/">
        <img src="../../static/img/Logo3x.png" alt="Tarteel-logo">
        <button data-balloon="Total Recited Ayahs" data-balloon-pos="down" class="counter">{{recording_count|add:"-1"}}</button>
      </a>
    </div>
    <ul>
      <li><a href="/about">About</a></li>
      <li class="active"><a href="/mobile_app">Mobile App</a></li>
    </ul>
    <button class="hamburger" onclick="toggleNavbarMenu()">
      <svg class="ham hamRotate ham4" viewBox="0 0 100 100" width="50" >
        <path
          class="line top"
          d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
        <path
          class="line middle"
          d="m 70,50 h -40" />
        <path
          class="line bottom"
          d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
      </svg>
    </button>
  </div>
    <div class="mobile-app-banner">
      <img src="{% static 'img/Logo3x.png' %}" alt="Tarteel-logo" id="background-logo">
    </div>
    <div class="mobile-page-text">
      <p>
        Download our mobile app.
      </p>
      <p style="font-size: 16px;">
        Use Tarteel on the go to make your breaks and commutes more productive and full of reward with our Android and iOS apps.
      </p>
    </div>
    <div class="mobile-buttons">
      <a href="http://bit.ly/2Owlhio" target="_blank">
        <img src="../../static/img/android-logo.png" alt="">
        <p>Android</p>
      </a>
      <a href="https://apple.co/2KWJ74U" target="_blank">
        <img src="../../static/img/apple-logo.png" alt="">
        <p>IOS</p>
      </a>
    </div>
    <footer>
      <div class="footer-btn" onclick="window.location='/'">
        <span>Continue Reading</span>
      </div>
    </footer>

  </body>
  <script src="{% static 'js/jquery-1.8.1.js' %}"></script>
  <script>
  const toggleNavbarMenu = () => {
    const hamburger = document.querySelector(".hamburger svg");
    hamburger.classList.toggle('active');
    $(".navbar ul").toggle()
  }
</script>
</html>
