{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'css/ali_style.css' %}" rel="stylesheet">   
    <link href="{% static 'css/style.css' %}" rel="stylesheet">    
    </head>
  <body>
    <div id="core-text">
      <div class="info" id="start-text">
        Welcome to the <b>Phase 2</b> of the <b>Sudoku</b> Challenge! 
      </div>
      </div> <br> 
<div align="center">
      <table id="table">
  <tr>
    <td>  </td>
    <td>  </td>
    <td> 1 </td>
    <td> 4 </td>
    <td>  </td>
    <td> 9 </td>
    <td>  </td>
    <td> 7 </td>
    <td>  </td>
  </tr>
  <tr>
    <td>  </td>
    <td>  </td>
    <td> 7 </td>
    <td> 2 </td>
    <td>  </td>
    <td> 5 </td>
    <td> 3 </td>
    <td>  </td>
    <td>  </td>
  </tr>
  <tr>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td> 4 </td>
    <td>  </td>
    <td>  </td>
  </tr>
  <tr>
    <td>  </td>
    <td>  </td>
    <td> 6 </td>
    <td>  </td>
    <td>  </td>
    <td> 1 </td>
    <td>  </td>
    <td> 8 </td>
    <td>  </td>
  </tr>
  <tr>
    <td> 8 </td>
    <td>  </td>
    <td> 9 </td>
    <td>  </td>
    <td>   </td>
    <td>  </td>
    <td> 1 </td>
    <td>  </td>
    <td> 2 </td>
  </tr>
  <tr>
    <td>  </td>
    <td> 4 </td>
    <td>  </td>
    <td> 8 </td>
    <td>  </td>
    <td>  </td>
    <td> 6 </td>
    <td>  </td>
    <td>  </td>
  </tr>
  <tr>
    <td>  </td>
    <td>  </td>
    <td> 3 </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>
  <tr>
    <td>  </td>
    <td>  </td>
    <td> 2 </td>
    <td> 5 </td>
    <td>  </td>
    <td> 4 </td>
    <td> 7 </td>
    <td>  </td>
    <td>  </td>
  </tr>
  <tr>
    <td>  </td>
    <td> 9 </td>
    <td>  </td>
    <td> 3 </td>
    <td>  </td>
    <td> 7 </td>
    <td> 8 </td>
    <td>  </td>
    <td>  </td>
  </tr>
</table>
</div>
   
      <!--
    <div align="center"><img id="image" src="{% static 'img/1.JPG' %}" alt="Smiley face" height="275" width="275"></div>
-->

<br>
    <div align="center"><a href="#" class="btn-two blue rounded small" onclick="loadTables()">Give me a new one!</a>

    <p class="info" id="demo"></p> </div>



    <script src="{% static 'js/jquery-1.8.1.js' %}"></script>
    <script src="{% static 'js/recorder.js' %}"></script>
    <script src="{% static 'js/recorder.js' %}"></script>
    <script src="{% static 'js/recorder_object.js' %}"></script>
    <script src="{% static 'js/api.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <script>

    let i = 1;  
      function loadTables() {
    var number = Math.random()*10;
    number = Math.ceil(number);
    var s1 = '<table id="table">'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td> 8 </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td> 9 </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 2 </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 5 </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td> 4 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td> 9 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td> 4 </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  </table>';
    var s2 = '<table id="table">'+
'  <tr>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 2 </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td> 4 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  </table>';
    var s3 = '<table id="table">'+
'  <tr>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td> 9 </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td> 9 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td> 4 </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  </table>';
    var s4 = '<table id="table">'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td> 7 </td>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td>  </td>'+
'    <td> 6  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td> 4 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 9 </td>'+
'    <td> 6 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 9 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  </table>';
    var s5 = '<table id="table">'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td> 4 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td> 1 </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  </table>';
    var s6 = '<table id="table">'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 4 </td>'+
'    <td> 6 </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  6</td>'+
'  </tr>'+
'  <tr>'+
'    <td> 5 </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td> 1 </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td> 4 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td> 2 </td>'+
'    <td> 6 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td> 1 </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  </table>';
    var s7 = '<table id="table">'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 9 </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 2 </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td> 4  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 1  </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td> 2 </td>'+
'    <td> 4 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  </table>';
    var s8 = '<table id="table">'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td> 3 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 9 </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td> 4 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 9 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  </table>';
    var s9 = '<table id="table">'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 2 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 5 </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td> 2 </td>'+
'    <td> 4 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td> 9 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td> 4 </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  </table>';
    var s10 = '<table id="table">'+
'  <tr>'+
'    <td> 2 </td>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 9 </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'    <td> 1 </td>'+
'    <td> 5 </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 5 </td>'+
'    <td> 9 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 4 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td> 1 </td>'+
'    <td>  </td>'+
'    <td> 3 </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td> 4 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td> 8 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 7 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 9 </td>'+
'  </tr>'+
'  <tr>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 6 </td>'+
'    <td>  </td>'+
'    <td>  </td>'+
'    <td> 2 </td>'+
'    <td>  </td>'+
'    <td> 5 </td>'+
'    <td>  </td>'+
'  </tr>'+
'  </table>';
  

    // var sourceString =  `s${number}`;
    //console.log(sourceString);

    //document.getElementById("image").src = "/static/" + sourceString;
    document.getElementById("demo").innerHTML = "There you go, <b>Aziz</b>!";
    
    if (i === 1) {
    document.getElementById("table").innerHTML = s1;
    } else if (i === 2) {
    document.getElementById("table").innerHTML = s2;
    } else if (i === 3) {
    document.getElementById("table").innerHTML = s3;
    } else if (i === 4) {
    document.getElementById("table").innerHTML = s4;
    } else if (i === 5) {
    document.getElementById("table").innerHTML = s5;
    } else if (i === 6) {
    document.getElementById("table").innerHTML = s6;
    } else if (i === 7) {
    document.getElementById("table").innerHTML = s7;
    } else if (i === 8) {
    document.getElementById("table").innerHTML = s8;
    } else if (i === 9) {
    document.getElementById("table").innerHTML = s9;
    } else if (i === 10) {
    document.getElementById("table").innerHTML = s10;
    i=0;
    } 

    i+=1
    // This is correct and the path is correct
}
     
    </script>
  </body>
</html>
